#loginImgsection{
    width: 40%;
    text-align: center;
    color: white;
  background-image: url("./imgs/LoginImg.png");
  background-color: #746eb1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom; 
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  top: 40%;
  left: 0;  
  
  p {
      margin-top: 2rem;
      font-size: 2rem;
  }
}
@media (max-width: 768px) {

  #loginImgsection{
    background-position: center center; 
  }
}

