.loginsignupwholecontainer {
    display: flex;
    margin: 1rem 2rem;
    height: 80vh;
    border-radius: 15px;
    box-shadow: 20px 20px 4px gray;
}

#signupImgsection{
      width: 40%;
      text-align: center;
      color: white;
    background-image: url("./imgs/SignupImg.png");
    background-color: #746eb1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 40%;
    left: 0;  
    
    p {
        margin-top: 2rem;
        font-size: 2rem;
    }
}

.commonsection {
    width: 60%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100%;

    p {
        font-size: 2rem;
        margin: 0;
    }
     
  button {
    background-color: #e3a635;
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem;
    font-size: 1.5rem;
    border-radius: 30px;
    cursor: pointer;
  }
   
  form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    /* height: 100%; */
  }
}

 
  
 input {
    display: block;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: #746eb1 2px solid;
 }
 ::placeholder{
    color: #e3a635;
 }

 @media (max-width: 768px) {

  .commonsection {  
  button {
   margin: 0 auto;
  }
}

}
 
  